# Server Configuration
PORT=3000

# PostgreSQL 설정 (Docker Compose와 일치)
POSTGRES_PORT=5433
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=

# DATABASE_URL (Docker Compose와 일치)
DATABASE_URL=""

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# Open API KEY
OPEN_API_KEY=